<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to Dashboard</h1>
    <ul>
        {{#Users}}
        <li>Username: {{Username}}, Password: {{Password}}</li>
        {{/Users}}
    </ul>
</body>
</html>